nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #558ec7;
}

nav h1, a {
  margin: 0;
  text-decoration: none;
}

.left {
  flex: 1;
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right button {
  border: none;
  border-radius: 10px;
  background-color: #eee;
  padding: 0.6rem 1rem;
  margin: 0;
}

.logo h1 {
  display: flex;
  gap: 5px;
  color: #fff;
}

.logo h1 a {
  text-decoration: none;
  color: #fff;
}

.logo h1 a span {
  color: #558ec7;
  background-color: #fff;
  padding: 8px;
  border-radius: 16px;
}

